.bg-custom {
  background-color: rgba(20, 52, 142, 0.15) !important;
  &__ractangle--grey {
    display: none;
    @media ($media_xxxl) {
      display: block;
      width: 1272px;
      height: 1971px;
      top: 0;
      right: 0;
      background-color: #f8f9fc;
      z-index: -1;
    }
  }

  &__dots {
    &-1 {
      @media ($media_xxxl) {
        left: -104px !important;
        bottom: -102px !important;
      }
    }
    &-2 {
      @media ($media_xxxl) {
        right: 0 !important;
        bottom: 0 !important;
      }
    }

    &--z1 {
      z-index: 1 !important;
    }
    &--z2 {
      z-index: 2 !important;
    }
  }
}
.text-color-custom {
  &--blue {
    color: #14348e !important;
    width: auto !important;
    margin: 0 auto 0 0 !important;
  }
  &--grey {
    color: #bebebe;
  }
}
.font-size-custom {
  @media ($media_xxxl) {
    font-size: 76px !important;
  }
}

.media-flex-direction {
  &--column {
    @media ($media_xxl) {
      flex-direction: column;
    }
  }
  &--column-reverse {
    @media ($media_xxl) {
      flex-direction: column-reverse;
    }
  }
  &--row {
    @media ($media_xxl) {
      flex-direction: row !important;
    }
  }
}

#main,
#footer {
  overflow: hidden;
  .media-wrapper {
    @media ($media_xxl) {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

#header {
  @media ($media_xxl) {
    padding: $space_md 0 !important;

    .menu-icons {
      img,
      div {
        padding: 0 !important;
      }
    }
  }
}
