.bg-custom {
  background-color: rgba(20, 52, 142, 0.15) !important;
}
.text-color-custom {
  color: #14348e !important;
  width: auto !important;
  margin: 0 auto 0 0 !important;
}
.font-size-custom {
  @media ($media_xxxl) {
    font-size: 76px !important;
  }
}
